.sidebar {
    box-shadow: 1px 2px 5px rgb(220, 216, 216);
    height: 150%;
    .header {
      box-shadow: 1px 2px 3px rgb(236, 234, 234);
      width: 105%;
      p {
        margin-left: 2.5rem;
      }
    }
    .first-part,
    .second-part {
      .side-icons {
        display: flex;
        svg {
          margin-left: 2rem;
        }
        p {
          margin-top: -7px;
          margin-left: 3rem;
        }
      }
    }
    .second-part {
      margin-top: 140%;
    }
  }
   
  .right-part {
    .dropdown {
      a {
        background-color: white;
        box-shadow: 1px 2px 3px rgb(235, 232, 232);
      }
    }
    .alert-msg {
      width: 90%;
      margin-left: 2rem;
    }
    .firstp {
      border-right: 5px ;
      background-color: white;
    }
    .card {
      margin-top: 10px !important;
      box-shadow: 1px 2px 4px rgb(229, 226, 226);
      width: 50%;
      border: none;
      margin-left: 2rem;
      border-left: 4px solid #A3CAE9;
    }
  }
   