.sidebar {
  box-shadow: 1px 2px 5px rgb(220, 216, 216);
  height: 150%;
  .header {
    box-shadow: 1px 2px 3px rgb(236, 234, 234);
    width: 103%;
    p {
      margin-left: 2.5rem;
    }
  }
  .first-part,
  .second-part {
    .side-icons {
      display: flex;
      svg {
        margin-left: 2rem;
      }
      p {
        margin-top: -5px;
        margin-left: 3rem;
      }
    }
  }
  .second-part {
    margin-top: 140%;
  }
}

.right-part {
  .dropdown {
    a {
      background-color: white;
      box-shadow: 1px 2px 3px rgb(235, 232, 232);
    }
  }
  .alert-msg {
    width: 90%;
    margin-left: 2rem;
  }
  .firstp {
    border-right: 5px solid;
    border-radius: 1rem;
    background-color: orange;
  }
  .card {
    margin-top: 10px !important;
    box-shadow: 1px 2px 4px rgb(229, 226, 226);
    width: 90%;
    border: none;
    margin-left: 2rem;
    border-left: 3px solid orange;
  }
  .player {
    .pause {
      svg {
        margin-left: 90%;
        margin-top: 1rem;
      }
    }
    .from {
      p,
      span {
        margin-left: 2rem;
      }
    }
  }
  .status {
    .part-a {
      p {
        font-weight: 500;
        border-left: 3px solid aqua;
        border-radius: 2px;
      }
      p,
      span {
        margin-left: 2rem;
      }
    }
    .part-b {
      svg {
        margin-left: 60%;
      }
      a {
        margin-top: 2rem;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .remaing-form {
    margin-left: 2.5%;
    label {
      color: rgb(188, 185, 185);
    }
    input {
      border: none;
      box-shadow: 1px 2px 4px rgb(224, 216, 216);
      width: 95%;
      padding: 1rem;
      color: black;
      font-weight: 500;
      margin-top: 1rem;
    }
    button {
      border: none;
      box-shadow: 1px 2px 4px rgb(224, 216, 216);
      width: 98%;
      display: flex;
      justify-content: space-between;
      color: rgb(188, 185, 185);
      margin-left: -1rem;
      margin-bottom: 1rem;
      padding: 1rem;
    }
    .description {
      box-shadow: 1px 3px 4px rgb(201, 198, 198);
      border-radius: 1rem;
      padding: 1rem;
      width: 95%;
      color: rgb(220, 210, 210);
      .below-desc {
        margin-left: 75%;
      }
    }
    .butn {
      background-color: rgb(37, 4, 120);
      width: 95%;
      margin-left: 1%;
      color: white;
      span {
        margin-right: 3px;
      }
    }
  }
}
